<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koki Ueno's Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="about-me.html">About Me</a></li>
            <li><a href="portfolio.html">Port Folio</a></li>
            <li><a href="publications.html">Publications</a></li>
        </ul>
    </nav>
    <div class="container">
        <aside>
            <img src="koki.JPG" alt="profile-pic" class="profile-pic">
            <h3 class="center-text">上野航希 / Koki Ueno</h3>
            <p class="introduction">Data Science & Computer Science</p>
        </aside>
        <main>
            <section id="abstract">
                <h1>Abstract</h1>
                <p>This is my introduction repository, which contains information about me (CV), my portfolio, and contact details.</p>
            </section>
            <section id="links">
                <ul>
                    <li><a href="about-me.html">About Me</a></li>
                    <li><a href="portfolio.html">Port Folio</a></li>
                    <li><a href="publications.html">Publications</a></li>
                </ul>
                <div class="last-modified">
                    <img src="image.png" alt="Modified Icon" style="width:24px;height:24px;">
                    <span>Last Modified: March 16, 2024</span>
                </div>                   
            </section>
        </main>               
    </div>
</body>
</html>
